<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'game/css/cs_play.css' %}">
    <title>CS Mode - Igra</title>
</head>
<body>
    <div class="cs-container">
        <h1 class="cs-title">CS Mode</h1>
        <p class="cs-question">Pitanje: {{ question.question_text }}</p>
        <p class="cs-question">Je li pravi odgovor veći ili manji od: <strong>{{ given_number|intcomma }}</strong>?</p>
        <p class="cs-score">Trenutni rezultat: {{ score }}</p>

        <form method="post" class="cs-answer-buttons">
            {% csrf_token %}
            <button type="submit" name="choice" value="higher">Veće</button>
            <button type="submit" name="choice" value="lower">Manje</button>
        </form>

        <div class="cs-links-container">
            <a href="{% url 'cs_mode' %}" class="cs-link">Odaberi drugu težinu</a>
            <a href="{% url 'homepage' %}" class="cs-link">Nazad na početak</a>
        </div>
    </div>
</body>
</html>